<!DOCTYPE html>
<header class="navbar" style="display: inline-block">
  <section class="navbar-section">
    <a href="/" class="btn btn-link">home</a>
    <a href="/about" class="btn btn-link">about</a>
    <a href="/projects" class="btn btn-link">projects</a>
  </section>
</header>
