<!DOCTYPE html>
<header class="navbar" style="display: inline-block">
  <section class="navbar-section">
    <a href="index.html" class="btn btn-link">home</a>
    <a href="about.html" class="btn btn-link">about</a>
    <a href="projects.html" class="btn btn-link">projects</a>
  </section>
</header>
