{{>header}}
    <div class="recent">
    {{#each articles }}
      <div class="title">
        <a href="{{ path }}">{{ title }}</a>
      </div>

      <div class="date">{{ date }}</div>
      <p>{{ blurb }}</p>
    {{/each}}
    </div>

{{>footer}}
